@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
	font-family: "Montserrat", Sans-serif;
	margin: 0;
}


.menu_geral {
	/* max-width: 960px; */
    display: flex;
    justify-content: space-between;
    text-decoration: none;
	font-size: 18px;
	font-family: "Montserrat", Sans-serif;
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
	margin: 0 auto;
	padding: 0 20px;
}

.navbar{
    /* padding-top: 8vh; */
    list-style: none;
    position: absolute;
    top: 14.6vh;
    left: 0vw;
    height: 67vh;
    width: 20vw;
    background-color: #e8e5e5;
    transition: 200ms;
    cursor: pointer;
}
hr#hrlista{
    background-color: white;
    opacity: 10%;
    height: 0.1px;
    border: none;
}

.navbar_ativo{
    left: -200vw;
    transition: 200ms;
    
}

header {
	background-image: url("assets/img/Composição_site/surfnav.jpg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 30vh;
	color: #fff;
	padding: 1% 0;
	margin: 0;
}
hr#hrnav{
    background-color: white;
    opacity: 40%;
    width: 95%;
    height: 0.1px;
    display: flex;
    border: none;
    margin-top: 2vh;
    display: flex;
    margin-left: 2.7%;
}

h1#h1nav{
    color: white;
    margin-top: 6vh;
    font-family: "Montserrat", Sans-serif;
    font-size: 2.5rem;
    font-weight: 700;
    text-align: center;
}


#logo {
	margin-left: 100%;
    height: 7vh;
    
}

.btn-menu{
    margin-right: 8vw;
    background-color: transparent;
    color: white;
    border: solid 1px transparent;
	margin-left: 2%;
	align-items: center;
    cursor: pointer;
	
}
.btn-menu:hover{
	color: beige;
}

ul.lista {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
ul.lista a{
    font-size: 25px;
    text-transform: uppercase;
}

ul.menu_nav{
    margin-top: 6%;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0 20px;
}

sup{
    color: #3e3e3e;
}
nav a {
	color: white;
	text-decoration: none;
	font-size: 1rem;
    font-weight: 200;
}
nav a:hover {
	color: beige;
    font-weight: 300;
    text-decoration-color: beige;
    text-decoration-thickness: 0.2px;
}

/*=============================================== TIRE DÚVIDAS ====*/

#tire_duvidas{
    margin-left: 13%;
    margin-top: 40px;
    width: 40%;
}
h1#duv{
    text-align: center;
}
p#parag{
    margin-top: 15px;
    text-align: center;
    font-weight: 300;
    color: #555555;
}

img{
    margin-top: 3vh;
    height: 5vh;
    margin-left: 10%;
}

h1#h1nms{
    font-size: 1rem;
    margin-top: -6vh;
    margin-left: 8vw;
    color: #696969;
    
}
h2#h2comp{
    font-size: 1rem;
    margin-left: 8vw;
    font-weight: 300;
    color: #555555;
}
#tire_duvidas2{
    margin-left: 53%;
    margin-top: -23.3%;
    width: 40%;
}

input{
    color: #C1C1C1;
    border: #C1C1C1 1px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 40px;
    width: 90%;
    outline: none;
    font-weight: 100;
    text-indent: 15px; /* Ajuste o valor conforme necessário */
}
input::placeholder{
    position: absolute;
    color: #C1C1C1;
    font-size: 1rem;
    font-weight: 100;
}

textarea#inp_grande {
    resize: vertical;
    color: #C1C1C1;
    border: #C1C1C1 1px solid;
    border-radius: 5px;
    margin-bottom: 10px;
    height: 90px;
    width: 90%;
    outline: none;
    font-weight: 100;
    text-indent: 15px ; /* Ajuste o valor conforme necessário */
  }

  textarea#inp_grande::placeholder{
    position: absolute;
    margin-top: 10px;
    color: #C1C1C1;
    font-size: 1rem;
    font-weight: 100;
}
button#btn_form{
    background-color: black;
    color: white;
    height: 40px;
    width: 90%;
    border: none;
    border-radius: 5px;
    font-size: 1rem;
}