@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

*{
    margin: 0;
    padding: 0;
}

body {
	font-family: "Montserrat", Sans-serif;
	margin: 0;
}


.menu_geral {
	/* max-width: 960px; */
    display: flex;
    justify-content: space-between;
    text-decoration: none;
	font-size: 14px;
	font-family: "Montserrat", Sans-serif;
    font-weight: 200;
    text-transform: uppercase;
	margin: 0 auto;
	padding: 0 20px;
}

.navbar{
    /* padding-top: 8vh; */
    list-style: none;
    position: absolute;
    top: 12.5vh;
    left: 0vw;
    height: 67vh;
    background-color: black;
    transition: 200ms;
    cursor: pointer;
}

.navbar_ativo{
    left: -200vw;
    transition: 200ms;
    
}

header {
	background-color: black;
	color: #fff;
	padding: 1% 0;
	margin: 0;
}

.logo {
	margin-left: 11.5%;
    
}

.btn-menu{
    margin-right: 8vw;
    background-color: transparent;
    color: white;
    border: solid 1px transparent;
	margin-left: 2%;
	align-items: center;
    cursor: pointer;
	
}
.btn-menu:hover{
	color: beige;
}

ul.lista {
    display: block;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}
ul.lista a{
    font-size: 25px;
    text-transform: uppercase;
}

ul.menu_nav{
    margin-top: 6%;
}
nav ul {
	list-style: none;
	margin: 0;
	padding: 0;
	display: flex;
}

nav li {
	margin: 0 20px;
}

nav a {
	color: white;
	text-decoration: none;
	font-size: 18px;
}

nav a:hover {
	color: beige;
    text-decoration: underline;
    text-decoration-color: beige;
    text-decoration-thickness: 0.2px;
}


.slide img{
	margin: 0;
    width: 100%;
    height: auto;
}

h1 {
	font-size: 36px;
}

p {
	font-size: 18px;
	line-height: 1.5;
}



/*======================================================== CHAMADA CARDS ========*/
.cards {
    display: flex;
    justify-content: center;
  }
  
  .row {
    display: flex;
  }
  
  .imagem_cards {
    display: flex;
    align-items: center;
    padding: 10px;
  }
  
  .div_text_cards {
    margin-left: 10px;
  }
  
  h1 {
    margin: 0;
    font-family: "Montserrat", sans-serif;
    font-size: 1.1rem;
    color: #5A5A5A;
  }
  
  p {
    margin: 0;
    font-size: 1.1rem;
    font-family: "Montserrat", Sans-serif;
    color: #acabab;
  }
/*======================================================== CHAMADA CARDS ========*/


.botao-imagem img {
    background-color: transparent;
    margin-left: 2%; 
    width: 30%; 
    border-radius: 15px;
    
  }
.botao-imagem img:hover {
    opacity: 80%;
}

/*========================================================  para botar texto com hover nas imagens botoes
/* .botao-imagem p{
    position: relative;
    margin-left: 12vw;
    margin-top: -50vh;
    color: transparent;
} */


/*============================================== SLIDE HISTORIA =============*/
 #slidehis{
    background-image: url("assets/img/Composição_site/skatecrt.psd");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    height: 110vh;
 }
 #slidehis h1{
   color: beige;
   font-family: 'Segoe UI';
   /* text-transform: uppercase; */
   font-size: 50px;
   margin-left: 108px;
   font-weight: 500;
 }
 #slidehis h2{
   color: white;
   font-family: 'Segoe UI';
   text-transform: uppercase;
   margin-top: -28px;
   margin-left: 105px;
   font-size: 78px;
   font-weight: 700;

 }

 #slidehis p{
    color: white;
    font-family: 'Segoe UI';
    margin-left: 105px;
    margin-top: 270px;
    font-size: 20px;
    font-weight: 350;
    text-decoration: none;
 }

 #slidehis a{
    text-decoration: none;
 }
 p#psli{
    margin-top: 25px;
    font-weight: 600;
 }
/*=============================================== SLIDE HISTORIA =============*/

/*======================================================== camisetas venda */

.vendaprods{
    display: flex;
    justify-content: center;
}

 #camiseta222 img {
	max-width: 100%;
    align-items: center;
}

#camiseta222 {
	display: inline-block;
	margin: 10px;
	padding: 10px;
	width: 300px;
	text-align: center;
}

#camiseta222 img {
	max-width: 100%;
    border: none;
    border-radius: 20px;
}
#camiseta222 img:hover {
    opacity: 90%;
}

#camiseta222 h2 {
    font-family: "Montserrat", sans-serif ;
	font-size: 20px;
    font-weight:700;
	margin-top: 5px;
}

#camiseta222 p {
	font-size: 18px;
    font-weight: 300;
	margin-top: -1px;
}


/*======================================================== camisetas venda */

/*======================================================== rodape */

footer {
    background-color: #eae9e9;
	color: #fff;
	padding: 13% 0;
}

img#logordp{
    position: absolute;
    margin-left: 7vw;
    margin-top: -26vh;
    height: 25vh;
}
p#plogo{
    color: #696969;
    position: absolute;
    margin-left: 20.3vw;
    margin-top: -17.5vh;
    text-transform: uppercase;
    font-size: 1rem;
    font-weight: 300;
}

h1#h1logo{
    position: absolute;
    margin-left: 20.3vw;
    margin-top: -15vh;
    font-size: 1.7rem;
    color: #696969;
    font-weight: 700;
    font-family: "Montserrat", Sans-serif;
    text-transform: uppercase;
}
h2#h2logo{
    position: absolute;
    margin-left: 20.3vw;
    margin-top: -13.9vh;
    color: #696969;
    font-weight: 300;
    font-family: "Montserrat", Sans-serif;
    text-transform: uppercase;
    font-size: 1rem;
}
img#icntelef{
    position: absolute;
    margin-left: 9.8vw;
    margin-top: 5.5vh;
    height: 7.5vh;
}
h1#h1telef{
    position: absolute;
    margin-left: 15.3vw;
    margin-top: 7vh;
    font-size: 1.2rem;
    color: #696969;
    font-weight: 600;
    font-family: "Montserrat", Sans-serif;
}
h2#h2telef{
    position: absolute;
    margin-left: 15.3vw;
    margin-top: 10.8vh;
    font-size: 0.9rem;
    color: #696969;
    font-family: "Montserrat", Sans-serif;
}

img#icnwpp{
    position: absolute;
    height: 7.5vh;
    margin-top: 5.5vh;
    margin-left: 40vw;
}
h1#h1wpp{
    position: absolute;
    margin-left: 45vw;
    margin-top: 7vh;
    font-size: 1.2rem;
    color: #696969;
    font-weight: 600;
    font-family: "Montserrat", Sans-serif;
}
h2#h2wpp{
    position: absolute;
    margin-left: 45vw;
    margin-top: 10.8vh;
    font-size: 0.9rem;
    color: #696969;
    font-family: "Montserrat", Sans-serif;
}

img#icnemail{
    position: absolute;
    height: 8.5vh;
    margin-top: 5.5vh;
    margin-left: 70vw;
}
h1#h1email{
    position: absolute;
    margin-left: 75.5vw;
    margin-top: 6.7vh;
    font-size: 1.2rem;
    color:#696969;
    font-weight: 600;
    font-family: "Montserrat", Sans-serif;
}
h2#h2email{
    position: absolute;
    margin-left: 75.5vw;
    margin-top: 10.4vh;
    font-size: 0.9rem;
    color: #696969;
    font-family: "Montserrat", Sans-serif;
}

img#icninsta{
    position: absolute;
    height: 7.2vh;
    margin-top: -6vh;
    margin-left: 70vw;
}
img#icninsta:hover{
    opacity: 85%;
    cursor: pointer;
}
img#icnfb{
    position: absolute;
    height: 7.2vh;
    margin-top: -6vh;
    margin-left: 74vw;
}
img#icnfb:hover{
    opacity: 85%;
    cursor: pointer;
}
img#icnyt{
    position: absolute;
    height: 7.2vh;
    margin-top: -6vh;
    margin-left: 78vw;
}
img#icnyt:hover{
    opacity: 85%;
    cursor: pointer;
}
h1#h1icns{
    position: absolute;
    margin-left: 70.5vw;
    margin-top: -24vh;
    font-size: 1.3rem;
    color:#696969;
    font-weight: 600;
    font-family: "Montserrat", Sans-serif;
}
h2#h2icns{
    position: absolute;
    margin-left: 70.5vw;
    margin-top: -17vh;
    font-size: 1rem;
    color: #696969;
    font-weight: 300;
    font-family: "Montserrat", Sans-serif;
}
p#plink{
    position: absolute;
    margin-top: -24vh;
    margin-left: 40vw;
    font-size: 1.4rem;
    font-weight: 600;
    color: #696969;
    font-family: "Montserrat", Sans-serif;
}

a#plki{
    position: absolute;
    margin-top: -20vh;
    margin-left: 40vw;
    text-decoration: none;
    color: #696969;
    font-family: "Montserrat", Sans-serif;
}
a#plkh{
    position: absolute;
    margin-top: -19vh;
    margin-left: 40vw;
    text-decoration: none;
    color: #696969;
    font-family: "Montserrat", Sans-serif;
}
a#plkc{
    position: absolute;
    margin-top: -18vh;
    margin-left: 40vw;
    text-decoration: none;
    color: #696969;
    font-family: "Montserrat", Sans-serif;
}

h1#h1pfin{
    font-family: "Montserrat", Sans-serif;
    position: absolute;
    margin-left: 37vw;
    margin-top: 20vh;
    font-size: 1rem;
    color: #696969;
}
h2#h2pfin{
    font-family: "Montserrat", Sans-serif;
    position: absolute;
    margin-left: 42.5vw;
    margin-top: 20vh;
    font-size: 1rem;
    color: #919090;
}

hr#hrrdp{
    position: absolute;
    margin-left: 19.4vw;
    margin-top: -21vh;
    opacity: 100%;
    height: 120px;
    width: 1.8px;
    background-color: rgba(128, 128, 128, 0.81) ;
    border: none;
}
div#pdireitos{
    font-family: "Montserrat", Sans-serif;
    position: absolute;
    margin-left: 39vw;
    margin-top: 23vh;
    font-size: 0.7rem;
    color: #696969;
}
#adir{
color: black;
}
#flaticon{
    color: black;
}

/*======================================================== rodape */
hr{
    opacity: 20%;
}
/*====================================================  MIDIA QUARY  ======================*/

@media (max-width: 768px) {

    html{
        width: 100%;
    }
/*=========================== MENU ====================*/
    .menu_geral {
        flex-direction: column;
        align-items: center;
    }

    .navbar {
        position: static;
        height: auto;
        background-color: transparent;
        display: none;
    }

    .navbar_ativo {
        display: block;
        left: 0;
        height: 100%;
        background-color: black;
    }

    .btn-menu {
        display: block;
        margin-right: 0;
        margin-top: 3%;
        margin-bottom: 10px;
    }

    ul.menu_nav {
        display: none;
    }

    .logo {
        margin-top: -3%;
        margin-left: 5%;
        
    }
/*=========================== MENU ====================*/

/*=========================== CARDS ====================*/
.row {
    flex-direction: column;
    align-items: center;
  }

  .imagem_cards {
    display: flex;
    flex-direction: column; 
    align-items: center;
    padding: 10px;
    text-align: center; 

  }
  
  .div_text_cards {
   margin-top: 10px;  
  }

  h1{
    font-size: 0.9rem;
  }
  p{
    font-size: 0.9rem;
  }

/*=========================== CARDS ====================*/

/*=========================== BOTÃO IMAGENS ============*/
.botao-imagem{
    flex-direction: column;
}

.botao-imagem img{
    margin: 5%;
    margin-top: -3%;
    width: 90%;
    height: auto;
    border-radius: 15px;
}
/*=========================== BOTÃO IMAGENS ============*/

/*=========================== SLIDE ====================*/
    #slidehis {
        height: 60vh;
    
    }

    #slidehis h1 {
        color: beige;
        font-family: 'Segoe UI';
        font-size: 25px;
        margin-right: 20px;
        font-weight: 500;
        text-align: end;
        }

    #slidehis h2 {
        color: white;
        font-family: 'Segoe UI';
        text-transform: uppercase;
        margin-top: -18px;
        margin-right: 20px;
        font-size: 45px;
        font-weight: 700;
        text-align: end;
    }

    #slidehis p {
        color: white;
        font-family: 'Segoe UI';    
        margin-left: 20px;
        margin-top: 100px;
        font-size: 12px;
        font-weight: 400;
        text-decoration: none;
    }

    #slidehis a {
        text-decoration: none;
    }

    p#psli {
        margin-top: 25px;
        font-weight: 600;
    }
/*=========================== SLIDE ====================*/
}
/*=============================================================  MIDIA QUARY  ======================*/

/* #696969  COR ICN FOOTER  */
/* #5A5A5A COR ICN CHAMADA  */